.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding-top:10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.cromathic-scale{
  margin-top: 40px;
}

.key-scale{
  padding-right: 10px;
}

.chord-types{
  margin-top: 20px;
}

.chord-types-btn{
  height: 30px;
  display: inline-block;
  line-height: 30px;
  background: gray;
  color: white;

  width: 20%;
  text-align: center;

  border-left:1px solid white;

  margin-top: 1px;

  cursor: pointer;
  &:hover{
    background-color: black;

  }

  &.active{
    background: black;
  }
}

.scale{
  margin-top: 20px;
}

.cromathic-scale-btn{

  height: 30px;
  line-height: 30px;
  background: gray;
  color: white;

  border-left:1px solid white;

  cursor: pointer;
  &:hover{
    background-color: black;

  }

  &.active{
    background: black;
  }
}

.guitar-chord-table{
  margin: 15px;
}

.guitar-chord-table-body{

  tr{
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    &:first-child{
      border-top: 0;
    }

    &:last-child{
      border-bottom: 0;
      td{
        border-right: 0;
      }
    }



    td{
      width: 60px;
      height: 30px;

      border-right: 1px solid black;
      border-top: 1px solid rgba(0,255,0,0.4);


      &:first-child{
        width: 10px;
        border-top: 0;
      }

      &:last-child{
        width: 10px;
        border-top: 0;
        border-right: 0;
      }

      &.string-red{
        border-top: 1px solid rgba(255,0,0,0.4);
      }


      div{
        position: relative;
        width: 100%;
        height: 100%;

        .string{
          position: absolute;
          right: 10px;
          top: -10px;
        }

        .note{
          position: absolute;
          left: 10px;
          top: -10px;
        }

        .dot{
          display: block;
          position: absolute;
          right: 0px;
          top: -5px;

          height: 10px;
          width: 10px;
          border-radius: 10px;
          background: gray;

          margin-right:10px;
        }
      }
    }

    th{
      &:first-child{
        width: 5px;
      }
      width: 60px;
      height: 40px;
      padding-bottom: 10px;
      text-align: center;
    }

  }

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
